/* @font-face {
  font-family: Myriadpro;
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/Myriadpro.eot");
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/Myriadpro.eot?#iefix")
      format("embedded-opentype"),
    url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/Myriadpro.ttf")
      format("truetype");
} */
@font-face {
  font-family: roboto;
  src: url("./fonts/roboto.eot");
  src: url("./fonts/roboto.eot?#iefix") format("embedded-opentype"),
    url("./fonts/roboto.ttf")  format("truetype");
}
/*
@font-face {
  font-family: Androgyne;
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/Androgyne.eot");
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/Androgyne.eot?#iefix")
      format("embedded-opentype"),
    url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/Androgyne.ttf")
      format("truetype");
}
@font-face {
  font-family: Arial_rounded;
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/Arial_rounded.eot");
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/Arial_rounded.eot?#iefix")
      format("embedded-opentype"),
    url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/Arial_rounded.ttf")
      format("truetype");
}
@font-face {
  font-family: amaranth;
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/amaranth.eot");
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/amaranth.eot?#iefix")
      format("embedded-opentype"),
    url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/amaranth.ttf")
      format("truetype");
}
@font-face {
  font-family: aler;
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/aler.eot");
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/aler.eot?#iefix")
      format("embedded-opentype"),
    url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/aler.ttf")
      format("truetype");
}
@font-face {
  font-family: stanberry;
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/stanberry.eot");
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/stanberry.eot?#iefix")
      format("embedded-opentype"),
    url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/stanberry.ttf")
      format("truetype");
}
@font-face {
  font-family: sweetness;
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/sweetness.eot");
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/sweetness.eot?#iefix")
      format("embedded-opentype"),
    url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/sweetness.ttf")
      format("truetype");
}
@font-face {
  font-family: roboto-condensed;
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/roboto-condensed.eot");
  src: url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/roboto-condensed.eot?#iefix")
      format("embedded-opentype"),
    url("//goldenkids-data.tienganh123.com/file/learn/child/dungchung/lib_new_en/kids_lib/fonts/roboto-condensed.ttf")
      format("truetype");
} */
